<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div id="spa">
        <header>
            <div class="header">
                <div class="gmail">
                    <i class="fa-solid fa-bars fa-xl" v-on:click="burger()"></i>
                    <i class="fa-solid fa-mail-bulk fa-xl"></i>
                </div>
                
                <div class="barraDiRicerca">
                    <i class="fa-solid fa-search" style="border: none; margin-top: 2px;"></i>
                    <input type="search" placeholder="Cerca" style="height: 30px; width: 480px;border: none; background-color: #eaf1fb;">
                    <i class="fa-solid fa-sliders" style="border: none; margin-top: 2px; margin-left: 5px;"></i>
                </div>

                <div class="informazioni">
                    <i class="fa-solid fa-question fa-lg"></i>
                    <i class="fa-solid fa-gear fa-lg"></i>
                    <i class="fa-solid fa-cube fa-lg"></i>

                    <div class="utente">
                        <h2 style="position: absolute; top: -16px; left: 9px;color: white;">E</h2>
                    </div>
                </div>
            </div>
        </header>
        <article>
            <div class="main">
                <aside>
                    <div class="MenuPricipale">
                        <ul>
                            <li>
                                <div id="scrivi" v-on:click="ScriviMail = !ScriviMail">
                                    <i class="fa-solid fa-pen"></i>
                                    <h5 style="padding-left: 10px;">Scrivi</h5>
                                </div>
                            </li>
                            <li>
                                <div class="iconeLaterali" id="PostaInArrivo" v-on:mouseleave="leaveDiv('PostaInArrivo')" v-on:mouseover="OeverDiv('PostaInArrivo')">
                                    <i class="fa-solid fa-home-alt"></i>                                    
                                    <h5 style="padding-left: 10px;">Posta in arrivo</h5>
                                    <h5 style="padding-left: 80px;">999</h5>
                                </div>
                            </li>
                            <li>
                                <div class="iconeLaterali" id="Speciali" v-on:mouseleave="leaveDiv('Speciali')" v-on:mouseover="OeverDiv('Speciali')">
                                    <i class="fa-solid fa-star"></i>                                    
                                    <h5 style="padding-left: 10px;">Speciali</h5>                  
                                </div>
                            </li>
                            <li>
                                <div class="iconeLaterali" id="Posticipati" v-on:mouseleave="leaveDiv('Posticipati')" v-on:mouseover="OeverDiv('Posticipati')">
                                    <i class="fa-solid fa-clock"></i>                                            
                                    <h5 style="padding-left: 10px;">Posticipati</h5>                              
                                </div>                                
                            </li>
                            <li>
                                <div class="iconeLaterali" id="Iviati" v-on:mouseleave="leaveDiv('Iviati')" v-on:mouseover="OeverDiv('Iviati')">
                                    <i class="fa-solid fa-paper-plane"></i>
                                    <h5 style="padding-left: 10px;">Inviati</h5>  
                                </div>
                            </li>
                            <li>
                                <div class="iconeLaterali" id="Bozze" v-on:mouseleave="leaveDiv('Bozze')" v-on:mouseover="OeverDiv('Bozze')">
                                    <i class="fa-solid fa-book"></i>                                    
                                    <h5 style="padding-left: 10px;">Bozze</h5>  
                                </div>
                            </li>
                            <li>
                                <!--fare v-if-->
                                <div class="iconeLaterali" v-if="!IconeLClick" v-on:click="mostraIconeL()">
                                    <i class="fa-solid fa-arrow-down" ></i> 
                                    <h5 style="padding-left: 10px;" >ALTRO</h5>
                                </div>
                                <div class="iconeLaterali" v-on:click="mostraIconeL()" v-else>
                                    <i class="fa-solid fa-arrow-up"></i>
                                    <h5 style="padding-left: 10px;" >Meno</h5>
                                </div>
                            </li>
                            <span id="altro">
                                <li>
                                    <div class="iconeLaterali" id="Importanti" v-on:mouseleave="leaveDiv('Importanti')" v-on:mouseover="OeverDiv('Importanti')">
                                        <i class="fa-solid fa-star-half-alt"></i>
                                        <h5 style="padding-left: 10px;">Importanti</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="iconeLaterali" id="Chat" v-on:mouseleave="leaveDiv('Chat')" v-on:mouseover="OeverDiv('Chat')">
                                        <i class="fa-solid fa-message"></i>
                                        <h5 style="padding-left: 10px;">Chat</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="iconeLaterali" id="InProgrramma" v-on:mouseleave="leaveDiv('InProgrramma')" v-on:mouseover="OeverDiv('InProgrramma')">
                                        <i class="fa-solid fa-user-clock"></i>
                                        <h5 style="padding-left: 10px;">In programma</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="iconeLaterali" id="TuttiIMessaggi" v-on:mouseleave="leaveDiv('TuttiIMessaggi')" v-on:mouseover="OeverDiv('TuttiIMessaggi')">
                                        <i class="fa-solid fa-message"></i>
                                        <h5 style="padding-left: 10px;">Tutti i messaggi</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="iconeLaterali" id="Spam" v-on:mouseleave="leaveDiv('Spam')" v-on:mouseover="OeverDiv('Spam')">
                                        <i class="fa-solid fa-exclamation-triangle"></i>
                                        <h5 style="padding-left: 10px;">Spam</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="iconeLaterali" id="Cestino" v-on:mouseleave="leaveDiv('Cestino')" v-on:mouseover="OeverDiv('Cestino')">
                                        <i class="fa-solid fa-trash"></i>
                                        <h5 style="padding-left: 10px;">Cestino</h5>
                                    </div>
                                </li>
                            </span>
                        </ul>
                    </div>
                </aside>
                
                <div class="ParteCentrale">
                    <div class="topCentrale">
                        <div style="display: flex; justify-content: space-between; width: 120px; margin-left: 5px;">
                            <input type="checkbox">
                            <i class="fa-solid fa-rotate-right"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                        <div style="display: flex; align-items: baseline; justify-content: space-between; width: 220px; margin-right: 10px;">
                            <h4>1-100</h4>
                            <i class="fa-solid fa-arrow-left"></i>
                            <i class="fa-solid fa-arrow-right"></i>
                            <p>It</p>
                            <i class="fa-solid fa-arrow-down"></i> 
                        </div>
                    </div>

                    <div class="navigatore">
                        <div style="display: flex; flex-direction: row ;align-items: center; width: 110px;" id="Principale" v-on:mouseleave="leaveDiv('Principale')" v-on:mouseover="OeverDiv('Principale')" v-on:click="PaginaDaVisulizzare('Principale')">
                            <i class="fa-solid fa-house-user"></i>
                            <div>
                                <h4 style="margin-left: 10px;">Principale</h4>
                                <hr class="lineaSezione" >
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row ; align-items: center; width: 110px; margin-left: 10px;" id="Promozioni" v-on:mouseleave="leaveDiv('Promozioni')" v-on:mouseover="OeverDiv('Promozioni')" v-on:click="PaginaDaVisulizzare('Promozioni')">
                            <i class="fa-solid fa-tag"></i>
                            <div>
                                <h4 style="margin-left: 10px;">Promozioni</h4>
                                <hr class="lineaSezione">
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row ; align-items: center; width: 110px; margin-left: 10px;" id="Social" v-on:mouseleave="leaveDiv('Social')" v-on:mouseover="OeverDiv('Social')" v-on:click="PaginaDaVisulizzare('Social')">
                            <i class="fa-solid fa-people-arrows"></i>
                            <div>
                                <h4 style="margin-left: 10px;">Social</h4>
                                <hr class="lineaSezione" >
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="Mail" v-for="(mail,index) in mails">
                            <div style="display: flex; align-items: baseline; margin-right: 50px;">
                                <input type="checkbox">
                                <i class="fa-solid fa-star" style="color: grey; margin-left: 10px; margin-right: 10px;"></i>
                                <h3>{{mail.Oggetto}}</h3>
                            </div>
                            <div>
                                <h3 style="margin-right: 10px;">{{mail.Corpo}}</h3>                              
                            </div>
                        </div>
                    </div>  
                    
                    <div class="BoxScriviMail" v-if="ScriviMail">
                        <div style="border: solid 1px;height: 35px; background-color: #f6f8fc;">
                            <h4 style="position: absolute; top: -10px; left: 10px;">Nuovo messaggio</h4>
                            <i class="fa-solid fa-close" style="position: absolute; top: 10px;left: 320px;" v-on:click="ScriviMail = !ScriviMail"></i>
                        </div>
                        <form action="">
                            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;  margin-top: -20px; margin-bottom: -15px;">
                                <h5>A</h5>
                                <input type="text" id="Atxt" placeholder="Destinatari" style="height: 13px; width: 230px; border: none;">
                                <p>Cc</p>
                                <p>Ccn</p>
                            </div>
                            <hr>
                            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline; border: none;">
                                <input type="text" id="Oggettotxt" placeholder="Oggetto" style="height: 15px; width: 100%; margin-top: -8px;margin-bottom: 3px; border: none;">
                            </div>
                            <div>
                                <textarea id="corpoMessaggio" style="height: 200px; width: 98.5%;"></textarea>

                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 230px;">
                                        <input type="submit" value="Invia" style="background-color: blueviolet; border-radius: 40px;">
                                        <i class="fa-solid fa-a" v-on:mouseover=""></i>
                                        <i class="fa-solid fa-plus" v-on:mouseover=""></i>
                                        <i class="fa-solid fa-face-smile"></i>
                                        <i class="fa-brands fa-google-drive"></i>
                                        <i class="fa-solid fa-photo-film"></i>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>

                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div style="margin-left: 15px;">
                    <ul>
                        <li style="margin-bottom: 30px;">
                            <i class="fa-solid fa-calendar-days fa-lg"></i>
                        </li>
                        <li style="margin-bottom: 30px;">
                            <i class="fa-solid fa-lightbulb fa-xl"></i>
                        </li>
                        <li style="margin-bottom: 30px;">
                            <i class="fa-solid fa-check fa-lg"></i>
                        </li>
                        <li style="margin-bottom: 30px;">
                            <i class="fa-solid fa-person fa-lg"></i>
                        </li>
                    </ul>
                    <hr style="width: 40px; color: gray; margin-right: 20px;">
                    <i class="fa-solid fa-plus fa-lg" style="margin-left: 10px;"></i>
                </div>
            </div>
        </article>
    </div>
</body>
<!-------------------------------------------------------------------------------------->
<script type="text/javascript" src="app.js"></script>
</html>