body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: lightgray;

}

.header{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

.barraDiRicerca{
    display: flex;
    background-color: white;
    border-radius: 3px;
    align-items: center;
}

.informazioni{
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between; 
    margin-right: 15px;
    margin-top: 10px;
}

.utente{
    position: relative;
    display: flex;
    background-color: crimson;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    text-align: left;
    margin-top: -13px;
}

.gmail{
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}

.main{
    background-color: lightgray;
    min-height: 600px;
    display: grid;
    grid-template-columns: 2fr 15fr 1fr;
}

.MenuPricipale{
    display: inline-flex;
    flex-direction: column;
    background-color: lightgray;
    height: 600px;
    width: 100%;    
    overflow: auto; 
}

#scrivi{
    display: flex;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none; 
    padding-left: 5px;       
    margin-left: 5px;       
}

.iconeLaterali{
    display: flex; 
    align-items: baseline;
}

.ParteCentrale{
    background-color: white;
    height: 600px;
    width: 100%;    
    overflow-y: auto;
    overflow-x: hidden;
    
}

.topCentrale{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
}

.navigatore{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: 10px;
}

.lineaSezione{
    margin-top: -18px; 
    width: 80px; 
    margin-left: 0;
}

.Mail{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}